<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.lolvideo.dao.BulletinDao">
    <select id="getBulletins" resultType="com.yang.lolvideo.model.Bulletin">
        select title,snapshot,snapshot1,snapshot2,video_unit_id from bulletins where visible = 1 order by updated_at desc limit #{start},#{limit};
    </select>
</mapper>